@charset "UTF-8";
.detail {
    width: 100vw;
    background-color: gray;
}

@media screen and (max-width: 768px) {
    .detail {
        height: 100vh;
    }   
}

.detail-content {
    display: flex;
    flex-direction: column;
    padding: 150px 400px;
}

@media screen and (max-width: 768px) {
    .detail-content {
        padding: 250px 60px;
        max-width: 650px;
        margin: 0 auto;
    }       
}

.detail img {
    width: 100%;
}

.detail-content h2 {
    font-weight: bold;
    margin-top: 35px;
}

.detail-content p {
    margin-top: 10px;
    text-align: left;
    font-size: 12px;
}


@media screen and (max-width: 768px) {
       
}
